@import "_vars";
   
 .titleTrabajo{
    text-align: center;
    color: $indianred;
 }

 p{
   color: $negro;
   font-size: 25px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}