@import "_vars";
@import "_media-query";
@import "_grid";

.title_Footer {
    font-family: 'Josefin Sans', sans-serif;
    background-color: $background;
    display: $grid;
    @include movil{
        .title_Footer {
            grid-template-columns: 100%;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas: "footer_Section1" "footer_Section2" "footer_Section3";
          }
    }
    
    &__Section1{
        grid-area: footer_Section1;

        p{
            font-size: 15px;
            color: $negro;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    &__Section2{
        grid-area: footer_Section2;
    }

    &__Section3{
        grid-area: footer_Section3;
    }
    
}

.titulos_footer{
    font-size: 140%;
    text-align: center;
    color: $bordo;

}

.descripcion{
    font-size: 100%;
    text-align: center;
    color: $bordo;
}

.footer_listado{
        li{
            text-align: center;
            font-size: 20px;
            text-decoration: underline;
            a{
                    color: $bordo;
                    text-decoration: none;
                
            }
        }
}

.contacto{
    text-align: center;
    color: $bordo;
}

