@import "_vars"; 
@import "_media-query";

header{ 
    grid-area: header;
    @include movil{
        .a{
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.navBar{
    grid-area: navBar;

    ul{
        li{
            display: inline;
            text-align: justify;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size: 20px;
            text-decoration: none;
            margin-top: -50px;
            a{
                    color: $bordo;
                    text-decoration: none;
                
            }
        }
    }
}

.navBar_logo{
    margin-top: 50px;
    width: 5%;
    height: 5%;
}




