@import "_vars";

.section-title{

    h2{
        padding-left: 46%;    
        color: $indianred;
        padding-top: 2%;
}

}

.descripcionmia{
    padding-top: 5%;
}

.cita{
    padding-top: 5%;
}

.carrera{
    padding-top: 5%; 
}







