$background: rgb(247, 231, 211);
$blanco: white;
$grid: grid; 
$gradient: linear-gradient(#d75321, #df693f);
$bordo: #b2134e;
$naranja: #f39200;
$negro: b#333333;
$indianred: indianred;
$centro: center;