$background: rgb(255, 243, 228);
$blanco: white;
$beige: #9E9E9E;
$grid: grid; 
$gradient: linear-gradient(#d75321, #df693f);
$bordo: #b2134e;
$naranja: #f39200;
$negro: b#333333;
$indianred: indianred;
$centro: center;